[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=text2screen
Exec=/usr/bin/single-instance /opt/text2screen/bin/text2screen
Icon=/usr/share/icons/hicolor/80x80/apps/text2screen80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
